#search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.random {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;

}
.cocktail-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.img-size {
    width: 70%;
}









